<div class="content">
  <div class="filters">
    <select [(ngModel)]="filtroContinente">
      <option value="">Selecciona un continente</option>
      @for (cont of continentes; track $index) {
      <option value="{{ cont }}">{{ cont }}</option>
      }
    </select>

    <select [(ngModel)]="filtroIdioma">
      <option value="">Selecciona un idioma</option>
      <option value="Spanish">Español</option>
      <option value="English">Inglés</option>
      <option value="French">Francés</option>
      <option value="Arabic">Árabe</option>
      <option value="Chinese">Chino</option>
    </select>
  </div>

  <div class="grid">
    @for (flag of obtenerPaisesFiltrados(); track $index) {
    <div class="flag-card">
      <img
        src="{{ flag.flags.png }}"
        alt="{{ flag.name }}"
        (click)="enlazarPais(flag.name.common)"
      />
    </div>
    }
  </div>
</div>
